<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<product_list>
			<general_setting>
				<enable>0</enable>
				<include_jquery>0</include_jquery>
			</general_setting>
			<frontend_setting>
				<show_product>10</show_product>
			</frontend_setting>
		</product_list>
	</default>
</config>
